.header {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
	background-color: transparent;
	font-size: 20px;
	font-weight: 500;
	color: white;
	padding-top: 48px;
}

.header ul {
	padding-right: 98px;
	display: grid;
	grid-auto-flow: column;
	gap: 64px;
	list-style: none;
	justify-content: end;
}
